@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 60px;
}

nav li:first-child{
    margin-right: auto;
    display: flex;
    align-items: center;
    padding-left: 40px;
}

nav a{
    height: 100%;
    padding: 0 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover{
    color: #CA1617;
}

.logoTipo{
    font-weight: bold;
    font-size: 1.6rem;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 280px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
}

.logo{
    border-radius: 100px;
    height: 25px;
}

input{
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 8px 8px 8px 30px;
    width: 450px;
}

.photoSearch{
    position: relative;
    left: 27px;
    height: 20px;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -47px;
}

.introducao{
    display: flex;
    margin-left: 200px;
    position: relative;
    top: 250px;
    flex-direction: column;
}

.intro{
    font-size: 90px;
    font-weight: 500;
}

.introCor{
    color: #CA1617;
}

p{
    opacity: 0.6;
}

.photoIntro{
    height: 700px;
    position: relative;
    left: 60%;
    top: -120px;
}







 @media (max-width: 1600px){
    .hideMobile{
        display: none;
    }

 }

 @media (min-width: 1024px){
    .hideDesktop{
        display: none;
    }

 }