* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

ul {
    list-style: none;
    display: flex;
    gap: 15px;
    justify-content: right;
    margin-right: 250px;
    position: relative;
    top: 30px;
    z-index: 10;
}

li {
   color: black;
}

a {
    text-decoration: none;
    color: black;
    font-family: '';
}

.foto-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.tema {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 150px;
    position: relative;
    z-index: 1;
    top: -5px;
    
}

#caixa_pesquisa {
    display: flex;
    align-items: center;
    border: 1px solid rgb(0, 0, 0.226);
    border-radius: 30px;
    padding: 7px 13px;
    width: 600px;
}

#caixa_pesquisa input {
    border: none;
    outline: none;
    margin-left: 10px;
    width: 300px;
    height: 20px;
    z-index: 10;
}

#pesquisa {
    display: flex;
    justify-content: center;
    position: relative;
    top: -48px;
    right: 20px;
}

hr {
    position: relative;
    top: -30px;
}

